ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: 550;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.activeLink {
  font-weight: bold;
}

button {
  font-weight: 550;
}
