<div class="main-container">
  <div class="login-fields">
    <div class="form-rows">
      <div class="login-label">
        Username: 
      </div>
      <input class="login-textbox" type="text" placeholder="Username.." />
    </div>
    <div class="form-rows">
      <div class="login-label">
        Password: 
      </div>
      <input class="login-textbox" type="text" placeholder="Password.." />
    </div>
    <div class="button-holder">
      <button type="button" class="login-button" (click)="onLogin()">Login</button>
    </div>
  </div>
</div>