<mat-accordion *ngIf="isUserAuthenticated">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="empId"
                placeholder="Employee Id"
                maxlength="6"
              />
            </mat-form-field>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="user"
                placeholder="Username"
                maxlength="10"
              />
            </mat-form-field>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="email"
                placeholder="Email"
                maxlength="20"
              />
              <mat-hint align="start"><strong>Use without @indracompany.com</strong> </mat-hint>
            </mat-form-field>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td align="right">
            <button mat-raised-button class="search-button" type="button" style="margin-right: 8px;" routerLink="/admin/users/create">Add</button>
            <button mat-raised-button class="search-button" type="button" style="margin-right: 8px;" color="primary" (click)="onSearch()" >Search</button>
            <button mat-raised-button class="search-button" type="button" color="warn" (click)="onClear()" >Clear</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="isUserAuthenticated" >
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <table
    mat-table
    *ngIf="!isLoading"
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="empId">
      <th class="content-def" mat-header-cell *matHeaderCellDef>Employee Id</th>
      <td class="content-def" mat-cell fxLayout="column wrap" *matCellDef="let element">
        {{ element.empId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th class="content-def" mat-header-cell *matHeaderCellDef>Username</th>
      <td class="content-def" mat-cell fxLayout="column wrap" *matCellDef="let element">
        {{ element.user }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="content-def" mat-header-cell *matHeaderCellDef>Display Name</th>
      <td class="content-def" mat-cell fxLayout="column wrap" *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th class="content-def" mat-header-cell *matHeaderCellDef>Email</th>
      <td class="content-def" mat-cell fxLayout="column wrap" *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        class="action-def"
        align="center"
        mat-cell
        fxLayout="column wrap"
        *matCellDef="let element"
      >
        <button
          *ngIf="isUserAuthenticated && isUpdateOn"
          mat-mini-fab
          color="primary"
          (click)="onEdit(element.id)"
          style="margin-right: 8px;">
        <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="isUserAuthenticated && isAdmin && isDeleteOn"
          mat-mini-fab
          color="warn"
          (click)="onDelete(element.id)" >
        <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalUsers"
    [pageSize]="usersPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
  ></mat-paginator>
</mat-card>

<p class="info-text mat-body-1" *ngIf="!isUserAuthenticated">
  You shouldn't be here.
</p>
